<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="YummyApp.Properties.Settings.yummyDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\rajwinder\OneDrive\Desktop\conestoga clg\Software Development\FinalProject\Yummy\YummyApp\YummyApp\yummyDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
		<add name="YummyApp.Properties.Settings.yummyDatabaseConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\yummyDatabase.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="YummyApp.Properties.Settings.yummyDatabaseConnectionStringCarol" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Carolina\source\repos\LeticiaLBarbosa\Yummy\YummyApp\YummyApp\yummyDatabase.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
